@model IEnumerable<PetHome.Models.ViewModels.LostPets.LostPetVM>

@{
    ViewBag.Title = "Lost Pets";
}

<h2>Lost Pets</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnimalType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastSeenLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastSeenTime)
        </th>
        <th>
            Thumbnail
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastSeenLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastSeenTime)
            </td>
            <td>
                <img src="@item.ThumbnailUrl" />
            </td>
            <td>
                @if (User.Identity.IsAuthenticated && (item.AssociatedUsername == User.Identity.Name || User.IsInRole("Admin")))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id });
                    @: |
                    @Html.ActionLink("Delete", "ConfirmDelete", new { id = item.Id })
                    @: |
                }
                @Html.ActionLink("Details", "Details", new { id = item.Id })

            </td>
        </tr>
    }

</table>
