@model PetHome.Models.ViewModels.Home.SearchResultVM

@{
    ViewBag.Title = "Search";
}

<h2>Search Results Sorted By Relevance</h2>
<br />
<hr />
<br />


<button type="button" class="btn btn-default search-result-button" data-toggle="collapse" data-target="#lost-search-result" aria-expanded="false" aria-controls="collapse">
    Lost Pets
</button>
<div id="lost-search-result" class="collapse in">




    @if (Model.LostPets.Count() == 0)
    {
        <span>No results</span>
    }
    else
    {

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LostPets.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LostPets.First().Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LostPets.First().AnimalType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LostPets.First().LastSeenLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LostPets.First().LastSeenTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LostPets.First().Thumbnail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LostPets.First().SearchScore)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.LostPets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnimalType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastSeenLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastSeenTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Thumbnail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SearchScore)
                    </td>
                    <td>
                        @if (User.Identity.Name == item.AssociatedUsername)
                    {
                            @Html.ActionLink("Edit", "Edit", "LostPets", new { id = item.Id }, null);
                            @: |
                }
                        @Html.ActionLink("Details", "Details", "LostPets", new { id = item.Id }, null)
                    </td>
                </tr>
            }

        </table>

    }

</div>

<button type="button" class="btn btn-default search-result-button" data-toggle="collapse" data-target="#found-search-result" aria-expanded="false" aria-controls="collapse">
    Found Pets
</button>
<div id="found-search-result" class="collapse in">

    @if (Model.FoundPets.Count() == 0)
    {
        <span>No results</span>
    }
    else
    {

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FoundPets.First().AnimalType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FoundPets.First().Breed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FoundPets.First().LastSeenLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FoundPets.First().LastSeenTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FoundPets.First().Thumbnail)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.FoundPets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnimalType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Breed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastSeenLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastSeenTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Thumbnail)
                    </td>
                    <td>
                        @if (User.Identity.Name == item.AssociatedUsername)
                    {
                            @Html.ActionLink("Edit", "Edit", "FoundPets", new { id = item.Id }, null);
                            @: |
                }
                        @Html.ActionLink("Details", "Details", "FoundPets", new { id = item.Id }, null)
                    </td>
                </tr>
            }

        </table>

    }

</div>
